<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>top-level-items</key>
	<array>
		<dict>
			<key>destination</key>
			<dict>
				<key>location-parameters</key>
				<dict>
					<key>EndingColumnNumber</key>
					<string>70</string>
					<key>EndingLineNumber</key>
					<string>16</string>
					<key>StartingColumnNumber</key>
					<string>69</string>
					<key>StartingLineNumber</key>
					<string>16</string>
					<key>Timestamp</key>
					<string>791699438.4643461</string>
				</dict>
				<key>rebasable-url</key>
				<dict>
					<key>base</key>
					<string>workspace</string>
					<key>payload</key>
					<dict>
						<key>relative-path</key>
						<string>ZoomPanDrawingPlaygound/OperationScreen/OperationScreen+Panels+iPad.swift</string>
					</dict>
				</dict>
			</dict>
			<key>text-context</key>
			<dict>
				<key>focused</key>
				<string>}</string>
				<key>leading</key>
				<string>                    headerHeight: 44,
                    title: "ツール選択",
                    onClose: { isDrawingSettingsPanelVisible = false </string>
				<key>trailing</key>
				<string>,
                    trailing: { AnyView(EmptyView()) },
                    position: $panelPos,
</string>
			</dict>
			<key>type</key>
			<string>bookmark</string>
		</dict>
		<dict>
			<key>destination</key>
			<dict>
				<key>location-parameters</key>
				<dict>
					<key>EndingColumnNumber</key>
					<string>0</string>
					<key>EndingLineNumber</key>
					<string>17</string>
					<key>StartingColumnNumber</key>
					<string>71</string>
					<key>StartingLineNumber</key>
					<string>16</string>
					<key>Timestamp</key>
					<string>791699788.859372</string>
				</dict>
				<key>rebasable-url</key>
				<dict>
					<key>base</key>
					<string>workspace</string>
					<key>payload</key>
					<dict>
						<key>relative-path</key>
						<string>ZoomPanDrawingPlaygound/OperationScreen/OperationScreen+Panels+iPad.swift</string>
					</dict>
				</dict>
			</dict>
			<key>text-context</key>
			<dict>
				<key>focused</key>
				<string>
</string>
				<key>leading</key>
				<string>                    headerHeight: 44,
                    title: "ツール選択",
                    onClose: { isDrawingSettingsPanelVisible = false },</string>
				<key>trailing</key>
				<string>                    trailing: { AnyView(EmptyView()) },
                    position: $panelPos,
                    didInitPosition: $didInitPanelPos
</string>
			</dict>
			<key>type</key>
			<string>bookmark</string>
		</dict>
	</array>
</dict>
</plist>
